# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build results
[Bb]in/
[Oo]bj/
build/
dist/
out/

# SQLite databases
*.db
*.db-shm
*.db-wal

# IDE / OS specific files
.DS_Store
.idea/
.vscode/
*.user
*.userosscache
*.suo

# Temporary files
*.tmp
*.log
